<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>

<body class="flex flex-col h-screen">
    <div class="header ">
        <nav id="firstNav" class="bg-purple-300 flex justify-between pt-2 pb-2 pr-50 pl-50">
            <div id="logo">Logo</div>
            <a href="/cart" class="hover:cursor-pointer"><i class="fa-solid fa-cart-shopping  w-5 "></i></a>


        </nav>
        <nav id="secondNav" class="bg-purple-200 ">
            <ul class="flex justify-center text-center font-light m-2">
                <li id="m" class="basis-40 hover:text-white"><a href="/makeup">MAKEUP</a></li>
                <li id="s" class="basis-40 hover:text-white"><a href="/skin">SKIN</a></li>
                <li id="h" class="basis-40 hover:text-white"><a href="/hair">HAIR</a></li>
            </ul>

        </nav>

    </div>

    <div class="featured-card flex flex-grow">
        <div id="p1" class="group relative h-full basis-1/3 hover: cursor-pointer">
            <img class="h-full w-full object-cover " src="<%=makeup[0].image%>" alt="">

            <div
                class="flex justify-center items-center absolute inset-0 opacity-0 backdrop-blur-sm transition  duration-100  group-hover:opacity-100   ">
                <button class="border border-white text-white pt-3 pb-3 pr-5 pl-5  hover:bg-white  hover:text-black">
                    <a href="/product/<%=makeup[0].id%>">BUY</a></button>
            </div>

        </div>
        <div id="p2" class="group relative h-full basis-1/3 hover: cursor-pointer">
            <img class="h-full w-full object-cover" src="<%=skin[0].image%>" alt="">
            <div
                class="flex justify-center items-center absolute inset-0 opacity-0 backdrop-blur-sm transition  duration-100  group-hover:opacity-100   ">
                <button class="border border-white text-white pt-3 pb-3 pr-5 pl-5 hover:bg-white  hover:text-black">
                    <a href="/product/<%=skin[0].id%>">BUY</a></button>
            </div>
        </div>
        <div id="p3" class=" group relative h-full basis-1/3 hover: cursor-pointer">
            <img class="h-full w-full object-cover" src="<%=hair[0].image%>" alt="">
            <div
                class="flex justify-center items-center absolute inset-0 opacity-0 backdrop-blur-sm transition duration-100 group-hover:opacity-100 ">
                <button class="border border-white text-white pt-3 pb-3 pr-5 pl-5  hover:bg-white  hover:text-black">
                    <a href="/product/<%=hair[0].id%>">BUY</a></button>
            </div>
        </div>
    </div>

    <div class="footer bg-purple-200  bottom-0 w-full ">
        <ul class="text-sm  font-light mt-3 mb-3  flex justify-center">
            <li class=" mr-2 ml-2">Terms & Conditions</li>
            <li class=" mr-2 ml-2">Shipping policy</li>
            <li class=" mr-2 ml-2">Cancellation policy</li>
            <li class=" mr-2 ml-2">Privacy policy</li>
        </ul>
        <ul class="text-sm font-light p-3 text-center">
            <li>© 2025 ----- E-RETAIL LIMITED All Rights Reserved</li>
        </ul>
    </div>



    <script src="script.js"></script>
</body>

</html>