<!DOCTYPE html>
<html>
<head>
  <title><%= product.name %></title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <link href="/output.css" rel="stylesheet" />

</head>
<body class="p-6">
  <h1 class="text-2xl font-bold"><%= product.name %></h1>
  <img src="<%= product.image %>" alt="" class="w-48" />
  <p class="text-gray-700">Price: ₹<%= product.price %></p>
  <p><%= product.description %></p>

<button onclick="addToCart('<%= product.id %>')"
    class="mt-4 bg-blue-600 text-white px-4 py-2 rounded">
    Add to Cart
</button>

  <a href="/cart" class="block mt-4 underline text-blue-600">Go to Cart</a>
  <script src="/cart.js" defer></script>
</body>
</html>
