<!DOCTYPE html>
<html>

<head>
    <title>
        <%= product.name %>
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="/output.css" rel="stylesheet" />


    <style>
        #imageZoom::after {
            display: var(--display);
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            background-image: var(--url);
            background-size: 200%;
            background-position: var(--zoom-x) var(--zoom-y);
            position: absolute;
            top: 0;
            left: 0;

        }

        #imageZoom:hover {
            cursor: zoom-in
        }

        @media screen and (max-width: 768px) {
            .container {
                flex-direction: column;
            }

            .details {
                width: 100%;
            }

            #imageZoom {
                width: 100%;
                height: 50%;

            }

            h1 {
                font-size: 2.25rem;
            }

            nav {
                padding-left: 40px;
                padding-right: 40px;
            }
        }


        @media screen and (max-width: 1024px) {
            #imageZoom {

                height: 50%;
            }



        }
    </style>

</head>

<body class="min-h-screen">
    <nav class="bg-purple-300 flex justify-between pt-2 pb-2 pr-50 pl-50">
        <div id=" logo" class="basis-1/2">LOGO</div>
        <ul class="flex basis-1/2 justify-end  gap-15">
            <li class="hover:cursor-pointer"><a href="/"><i class="fa-solid fa-house"></a></i></li>
            <li class=" "><a href="/cart"><i class="fa-solid fa-cart-shopping  w-5 "></a></i></li>

        </ul>
    </nav>


    <div class="container flex flex-row  h-screen p-5 gap-8 relative ">
        <div id="imageZoom" class="w-1/2 h-4/5  relative" style="--url: url(<%= product.image %>);
         --zoom-x:0%; --zoom-y:0%;
         --display: none;
        ">

            <img src="<%= product.image %>" alt="" class="w-full h-full object-cover " />
        </div>


        <div class="details flex flex-col  items-start w-1/2 p-5 h-full gap-5">
            <h1 class="text-5xl font-bold w-full">
                <%= product.name %>
            </h1>
            <p class="items-baseline w-full">5/5<i class="fa-solid fa-star mr-5"></i><a>Rate this product</a></p>

            <p class="text-gray-800 w-full">Price: ₹<%= product.price %>
            </p>
            <p>
                <%= product.description %>
            </p>

            <div class="flex gap-5 w-full">
                <button class="border border-neutral-300 pt-5 pb-5 pl-8 pr-8"><i class="fa-solid fa-circle-check"></i>
                    Authentic
                    Products</button>
                <button class="border border-neutral-300 pt-5 pb-5 pl-8 pr-8"><i
                        class="fa-solid fa-face-smile-wink"></i>
                    Easy
                    Returns</button>
            </div>

            <button onclick="addToCart('<%= product.id %>')"
                class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 hover:cursor-pointer">
                Add to Cart
            </button>


        </div>

    </div>

    <script src="/zoom.js" defer></script>
    <script src="/cart.js" defer></script>

</body>

</html>