<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="/output.css" rel="stylesheet">

    <title>
        <%=product[0].category%>
    </title>

    <style>
        @media screen and (max-width:768px) {
            nav {
                padding-left: 40px;
                padding-right: 40px;

            }
        }
    </style>
</head>

<body class="h-screen">
    <nav class="bg-purple-300 flex  pt-2 pb-2 pr-50 pl-50">
        <div id=" logo" class="basis-1/2">LOGO</div>
        <ul class="flex basis-1/2 justify-end gap-15">
            <li class="hover:cursor-pointer"><a href="/"><i class="fa-solid fa-house"></a></i></li>
            <li class=" "><a href="/cart"><i class="fa-solid fa-cart-shopping  w-5 "></a></i></li>

        </ul>
    </nav>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 m-2">
        <% for(let i=0;i<product.length;i++){%>
            <div class="flex flex-col h-96 gap-2  ">
                <div class="h-3/4 relative group">
                    <img class="h-full w-full object-cover" src="<%= product[i].image %>">

                    <div
                        class="flex justify-center items-center absolute inset-0 backdrop-blur-sm opacity-0 transition duration-200 group-hover:opacity-100">
                        <button
                            class="view border border-white text-white p-2 hover:bg-white hover:text-black hover:cursor-pointer">
                            <a href="/product/<%= product[i].id %>"> VIEW </a>
                        </button>
                    </div>
                </div>
                <div class="details h-1/4 flex flex-col justify-center items-center">
                    <h1 class="text-center">
                        <%= product[i].name %>
                    </h1>
                    <h2 class="text-center">
                        <%= product[i].price %>
                    </h2>
                    <button onclick="addToCart('<%= product[i].id %>')"
                        class="m-2 pt-2 pb-2 pl-4 pr-4  border border-purple-200 text-center  hover:bg-purple-200 hover:text-white hover:cursor-pointer">ADD</button>

                </div>
            </div>
            <%} %>
    </div>

    <script src="/cart.js" defer></script>


</body>

</html>