<!DOCTYPE html>
<html>

<head>
    <title>
        <%= product.name %>
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="/output.css" rel="stylesheet" />

    <style>
        #imageZoom::after {
            display: var(--display);
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            background-image: var(--url);
            background-size: 200%;
            background-position: var(--zoom-x) var(--zoom-y);
            position: absolute;
            top: 0;
            left: 0;

        }
    </style>

</head>

<body class="h-screen">
    <nav id="firstNav" class="bg-purple-300 flex justify-between py-2 px-6 sm:px-12">
        <div id="logo">LOGO</div>
        <a href="/cart" class="hover:cursor-pointer"><i class="fa-solid fa-cart-shopping  w-5 "></i></a>


    </nav>


    <div class="flex flex-wrap md:flex-nowrap m-5 w-full gap-5">
        <div id="imageZoom" class="w-full md:w-1/2 h-full md:h-auto relative" style="--url: url(<%= product.image %>);
         --zoom-x:0%; --zoom-y:0%;
         --display: none;
        ">
            <img src="<%= product.image %>" alt="" class="w-full h-full object-cover" />
        </div>
        <div class="w-full md:w-1/2 flex flex-col gap-4 p-4">
            <h1 class="text-5xl font-bold">
                <%= product.name %>
            </h1>
            <p class="items-baseline">5/5<i class="fa-solid fa-star mr-5"></i><a>Rate this product</a></p>

            <p class="text-gray-800">Price: ₹<%= product.price %>
            </p>
            <p>
                <%= product.description %>
            </p>

            <div class="flex flex-wrap gap-4">
                <button class="border border-neutral-300 pt-5 pb-5 pl-8 pr-8"><i class="fa-solid fa-circle-check"></i>
                    Authentic
                    Products</button>
                <button class="border border-neutral-300 pt-5 pb-5 pl-8 pr-8"><i
                        class="fa-solid fa-face-smile-wink"></i> Easy
                    Returns</button>
            </div>

            <button onclick="addToCart('<%= product.id %>')"
                class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 hover:cursor-pointer">
                Add to Cart
            </button>


        </div>

    </div>
    <script src="/zoom.js" defer></script>
    <script src="/cart.js" defer></script>

</body>

</html>